extends layout

block content
    div.row-fluid.marketing
        div.span6
            h1 SRP:  Pintrest-style!
            p.lead Tired of the same old search results?  Can't bear to look at another details page with tabs?  Check out the Pintrest-inspired look and feel now!
            a.btn.btn-large.btn-success(href='/srpintrest') SRPintrest
            //&nbsp;
            //a.btn.btn-large.btn-success(href='/vdpintrest') VDPintrest
        div.span6.pull-right
            img.screenshot(src='/images/srpintrest-screenshot.png')

    hr

    div.row-fluid
        div.span6
            h4 Focus on Images
            p Pictures are worth 1,000s of words.  Let's take advantage!

            h4 Interactivity Increases Time-on-Site
            p Yesterday's SRP and VDP don't have the calls-to-action that the attention defeated, Monster Fuel drinkin', Call-of-Duty-playin' internet public needs.

            h4 Trendy Tech Stack
            ul
                li served by <a href='http://nodejs.org/'>Node.js</a>
                li running the <a href='http://expressjs.com/'>Express Webapp Framework</a>
                li with <a href='http://jade-lang.com/'>Jade templating</a> 
                li backed by <a href='http://mongodb.org'>MongoDB</a>
                li hosted at <a href='http://appfog.com'>AppFog</a>
            p ... so many buzz words it'll make a head hunter's mind spin.

        div.span6.pull-right
            h4 Lightning Fast Interactions
            p If you see a spinny or a beach ball or an hourglass then shame on me.

            h4 Accessing Actual APIs
            p Go ahead and compare the search results to what you see on the wired site.  If it doesn't match, I'll buy you and all your friends a beer at Last Friday.

            h4 Where to go from here?
            p The POC Graveyard?  Just kidding ... let's test this in front of real people to see if there's any merit to this approach.